
<div>

<fieldset>
<!-- {{action doSomething target="controllers.child"}} -->
	<legend>Section Program to apply for</legend>
<!-- 	{{view "select"
       content=model
       optionValuePath="content.id"
       optionLabelPath="content.name"}} -->

       <select id="wis">
       		<option value="" disabled selected>Select a program</option>
       		{{#each wi in model}}
       			<option value={{wi.id}}>{{wi.name}}</option>
       		{{/each}}

       </select>


</fieldset>
<button id="btnStartGnc" {{action  'testing'}}>Apply for Grant or Contribution</button>
	
</div>
 